.bg-grit {
  background-image: url("/assets/grit.jpg");
}

.bg-green {
  background-color: $s-green;
}

.bg-grit-green {
  background-image: url("/assets/grit-green.jpg");
}

.bg-grit-gray {
  background-image: url("/assets/grit-gray.jpg");
}


.multiply {
  mix-blend-mode: multiply;
}
