.lh-solid { line-height: 1; }
.lh-title { line-height: 1.25; }
.lh-deck  { line-height: 1.575;  }
.lh-copy  { line-height: 2; }

@media (min-width: $screen-sm) {
.lh-solid-sm { line-height: 1; }
.lh-title-sm { line-height: 1.25; }
.lh-copy-sm  { line-height: 1.5; }
}

@media (min-width: $screen-md) {
.lh-solid-m { line-height: 1; }
.lh-title-m { line-height: 1.25; }
.lh-copy-m  { line-height: 1.5; }
}

@media (min-width: $screen-lg) {
.lh-solid-l { line-height: 1; }
.lh-title-l { line-height: 1.25; }
.lh-copy-l  { line-height: 1.5; }
}
