<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sequoia Creative Lab</title>
    <meta name="description" content="">

    <!-- open graph -->
    <meta property="og:title" content="Sequoia Creative Lab" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="The Sequoia Creative Lab designs products and experiences for the Sequoia portfolio."/>
    <meta property="og:url" content="http://sequoiacreativelab.com/">
    <meta property="og:image" content="http://sequoiacreativelab.com/scl_opengraph.png">

    <!--twitter meta tags-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@SequoiaCreativeLab">
    <meta name="twitter:title"
          content="Sequoia Creative Lab">
    <meta name="twitter:description"
          content="The Sequoia Creative Lab designs products and experiences for the Sequoia portfolio.">
    <meta name="twitter:image" content="/scl_opengraph.png">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">


  </head>
