<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sequoia Creative Lab</title>
    <meta name="description" content="The Sequoia Design Lab designs products and experiences for Sequoia and its portfolio.">

    <!-- open graph -->
    <meta property="og:title" content="Sequoia Design Lab" />
    <meta property="og:description" content="The Sequoia Design Lab designs products and experiences for Sequoia and its portfolio."/>
    <meta property="og:url" content="http://sequoiacreativelab.com/">
    <meta property="og:image" content="http://sequoiacreativelab.com/sdl_opengraph.png">

    <!--twitter meta tags-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@sequoia">
    <meta name="twitter:creator" content="@sequoia">
    <meta name="twitter:title" content="Sequoia Design Lab">
    <meta name="twitter:description"
          content="The Sequoia Creative Lab designs products and experiences for Sequoia and its portfolio.">
    <meta name="twitter:image" content="http://sequoiacreativelab.com/sdl_opengraph.png">


    <link rel="stylesheet" type="text/css" href="/css/styles.css">



  </head>
