<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sequoia Creative Lab | {{ page.title }}</title>
    <meta name="description" content="">

    <!-- open graph -->
    <meta property="og:title" content="Sequoia Creative Lab | {{ page.title }}" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="https://sequoiacreativelab.com/">
    <meta property="og:image" content="">

    <!--twitter meta tags-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@SequoiaCreativeLab">
    <meta name="twitter:title"
          content="Sequoia Creative Lab">
    <meta name="twitter:description"
          content="">
    <meta name="twitter:image" content="">


    <!-- <link rel="shortcut icon" href="/favicon.ico"> -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

  </head>
