html {}

* {
  box-sizing: border-box;
}

body {
  font-family: 'synthese';
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  color: $s-gray;
}

.logo {
  width: 50px;
}

.logo-small {
  width: 25px;
}

.portco-logo {
  max-height: 25px;
  max-width: 185px;
}

.portco-logo-extra {
  max-height: 38px;
}
