html {}

* {
  box-sizing: border-box;
}

body {
  font-family: 'synthese';
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  color: $s-gray;
}

.logo {
  width: 50px;
}

.logo-small {
  width: 30px;
}

.portco-logo {

  max-height: 20px;
  max-width: 140px;

  @media (min-width: $screen-md) {
    max-height: 25px;
    max-width: 185px;
  }
}

.portco-logo-extra {
  max-height: 30px;

  @media (min-width: $screen-md) {
    max-height: 38px;
  }
}

.link a {
  border-bottom: 1px dashed $s-green;
  transition: color 0.5s ease;
}

.link a:hover {
  color: $s-green;
  transition: color 0.5s ease;
}

.social-link > .icon{
  transition: all 0.2s ease;
}

.social-link > .icon:hover {
  transform: scale(1.3);
  transition: all 0.2s ease;
}

.diagram {
  max-height: 450px;
  display: none;

  @media(min-width: 890px) {
    display: block;
  }
}
