{% include head.html %}

<body>

  <!-- Intro -->

  <div class="mw9 ph6 pv6 flex justify-between">
    <div>
      <img class="logo pv4" src="{{ page.intro.logo }}">
      <h1>{{ page.intro.headline }}</h1>
      <p class="measure">{{ page.intro.copy }}</p>
      <p><a href="{{ page.intro.link }}">{{ page.intro.handle }}</a></p>
    </div>
    <div>
      <img src="http://placehold.it/470x640">
    </div>
  </div>

  <!-- Current fellows -->

  <div class="mw9 ph6 pv4">
    {% for fellow in page.fellows limit:1 %}
    <div class="flex justify-between items-center">
      <div>
        <img src="{{fellow.image}}">
        <p>{{fellow.name}}</p>
        <p>{{fellow.label}}</p>
      </div>
      <div class="measure">
        <h3>Design fellow '17</h3>
        <h2>{{fellow.headline}}</h2>
        <p>{{fellow.copy}}</p>
      </div>
    </div>
    {% endfor %}

    {% for fellow in page.fellows limit:1 offset: 1%}
    <div class="flex justify-between items-center">
      <div class="measure">
        <h3>Design fellow '17</h3>
        <h2>{{fellow.headline}}</h2>
        <p>{{fellow.copy}}</p>
      </div>
      <div>
        <img src="{{fellow.image}}">
        <p>{{fellow.name}}</p>
        <p>{{fellow.label}}</p>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Work -->

  <div class="mw9 ph6 pv4">
    <h2>{{ page.work.headline }}</h2>
    <div class="flex justify-between">
      <div>
        {% for service in page.work.services %}
          <h3>{{service.name}}</h3>
          <p>{{service.companies}}</p>
        {% endfor %}
      </div>
      <p class="measure">{{page.work.copy}}</p>
    </div>
  </div>

<!-- Alumni -->

  <div class="mw9 ph6 pv4">
    <div>
      <h3>{{page.alumni.headline}}</h3>
    </div>
    <div class="flex justify-between">
      {% assign items = site.alumni | sort: 'date' | reverse %}
      {% for item in site.alumni %}
        <div>
          <img src="{{item.image}}">
          <p>{{item.title}} </p>
          <p>{{item.position}}</p>
          <p>{{item.company}}</p>
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- Visiting designers -->

  <div class="mw9 ph6 pv4 flex justify-between">
    <div class="measure">
      <h3>{{page.visitors.label}}</h3>
      <h2>{{page.visitors.headline}}</h2>
      <p>{{page.visitors.copy }}</p>
    </div>
    <div>
      {% for designer in page.visitors.designers %}
        <a href="{{designer.link}}" class="db">{{designer.name}}</a>
      {% endfor %}
    </div>
  </div>

  <!-- Apply -->

  <div class="mw9 ph6">
    <h3>{{page.apply.headline}}</h3>
    <p>{{page.apply.copy}}</p>
    <a href="{{page.apply.button.link}}">{{page.apply.button.text}}</a>
  </div>

</body>
