{% include head.html %}

<body>
  {% include icons.html %}

  <!-- Intro -->

  <div class="flex flex-column flex-row-m w-100 vh-100-m">
    <div class="flex flex-column justify-center items-center bg-grit-green center white tc f6 vh-100 w-100">
      <div class="">
        <img src="assets/logo-white.svg" class="logo pb4">
        <p class="ttu tracked fw5 pv4 f5">Welcome to the</p>
        <!-- <h1 class="akkurat f2 pv3">Sequoia Creative Lab</h1> -->
        <img src="assets/scl.png" style="width: 500px">
        <img src="assets/slash.svg" class="db center pt4 pb5">
        <h3 class="ttu tracked ba b--white ph4 pv3 dib f5 akkurat mv3">Est. 2014</h2>
        <h3 class="pt4 f6">Menlo Park, CA</h3>
      </div>
    </div>
    <div class="vh-100 w-100 flex flex-column justify-center items-center">
      <div class="pa4 measure center">
        <h3 class="s-green ttu tracked fw5 f6 pv2">Who</h3>
        <p class="akkurat lh-copy pb4 f5"><a href="">James Buckhouse</a>, <a href="">Sue Kim</a>, & <a href="">Jules Forrest</a></p>
        <h3 class="s-green ttu tracked fw5 f6 pv2">What</h3>
        <p class="akkurat lh-copy pb4 f5">Design seamless product experiences</p>
        <h3 class="s-green ttu tracked fw5 f6 pv2">Where</h3>
        <p class="akkurat lh-copy pb4 f5">At <a href="https://sequoiacap.com">Sequoia Capital</a> portfolio companies</p>
        <h3 class="s-green ttu tracked fw5 f6 pv2">When</h3>
        <p class="akkurat lh-copy pb4 f5">During pivotal company moments</p>
        <h3 class="s-green ttu tracked fw5 f6 pv2">Why</h3>
        <p class="akkurat lh-copy pb4 f5">To help the daring <strike>build</strike> design legendary <strike>companies</strike> products.</p>
        <!-- <h3 class="s-green ttu tracked fw5 f6 pt4">how →</h3> -->
      </div>
    </div>
  </div>

  <!-- How -->
  <div class="w-100 bg-grit-gray white pv6">
    <div class="w-60 center pv2">
      <p class="ttu tracked fw5 f6 tc pv2">Here's how</p>
      <h2 class="noe f2 lh-deck tc fw6 pv5">The Sequoia Creative Lab employs a full-process approach to solving user problems </h2>
    </div>
    <img src="/assets/process.svg" class="w-100 pv5">
    <div class="measure-extra-wide center pv4">
      <p class="lh-copy pb3">We read many sources. We learn from many fields. Our projects center on total experience — not just the pixels in your app — so when we storyboard, we draw what’s happening in the world and what’s happening in your product. </p>
      <p class="lh-copy pb3">We help <a href="https://sequoiacap.com">Sequoia Capital</a> companies build healthy design orgs with the structures, processes and measurement tools they need to thrive. We roll up our sleeves and help teams ship and iterate core experiences. Think of us as your partners in design.</p>
      <p class="lh-copy pb3">Along the way, we transform high-performing designers into tomorrow’s design leaders through the hands-on mentoring and active collaboration of our Design Fellows program. </p>
    </div>
  </div>

  <!-- Fellows -->
  <div class="w-100 pv6 ph6">
    <p class="fw5 ttu tracked f6 black-30 pt4 pb3 f6 ph5">a lasting network</p>
    <h3 class="s-green noe f1 fw6 pv4 ph5">Meet the fellows</h3>
    <p class="lh-deck ph5 f3 measure-extra-wide black-70 pv2">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    <div class="flex flex-column flex-row-m pv5 justify-between ph5">
      <div class="w-50 pr5">
        <h4 class="akkurat lh-title f2 pb2">Sue Kim</h4>
        <p class="fw5 ttu tracked f6 black-50 pt2 pb4 f6">Design fellow '17</p>
        <p class="lh-copy f5">Sue developed her passion in art and design at Rhode Island School of Design, where she studied industrial design. She enjoys learning about cultures and apply compelling design solutions through experience. </p>
        <h5 class="akkurat lh-deck f4 pb2 pt4">For the love of type</h4>
        <p class="lh-copy f5">She joined Sequoia Creative Lab to broaden her experience in design. She enjoys collaborating with creatives to produce total design experience. On her free time, she dabbles in photography and appreciates Danish furniture.</p>
        <h5 class="akkurat lh-deck f4 pb2 pt4">Get in touch</h4>
        <p class="pt3 f5">
          <span class="s-green">
          <a href="{{fellow.twitter}}"><svg fill="currentColor" class='icon mr2'><use xlink:href="#twitter" /></a>
          <a href="{{fellow.twitter}}"><svg fill="currentColor" class='icon mr2'><use xlink:href="#linkedin" /></a>
          <a href="{{fellow.twitter}}"><svg fill="currentColor" class='icon mr2'><use xlink:href="#github" /></a>
          </span>
        </p>
      </div>
      <div class="w-50 pl5">
        <h4 class="akkurat lh-title f2 pb2">Jules Forrest</h4>
        <p class="fw5 ttu tracked f6 black-50 pt2 pb4 f6">Design fellow '17</p>
        <p class="lh-copy f5">Sue developed her passion in art and design at Rhode Island School of Design, where she studied industrial design. She enjoys learning about cultures and apply compelling design solutions through experience. </p>
        <h5 class="akkurat lh-deck f4 pb2 pt4">For the love of type</h4>
        <p class="lh-copy f5">She joined Sequoia Creative Lab to broaden her experience in design. She enjoys collaborating with creatives to produce total design experience. On her free time, she dabbles in photography and appreciates Danish furniture.</p>
        <h5 class="akkurat lh-deck f4 pb2 pt4">Get in touch</h4>
        <p class="pt3 f5">
          <span class="s-green">
          <a href="{{fellow.twitter}}"><svg fill="currentColor" class='icon mr2'><use xlink:href="#twitter" /></a>
          <a href="{{fellow.twitter}}"><svg fill="currentColor" class='icon mr2'><use xlink:href="#linkedin" /></a>
          <a href="{{fellow.twitter}}"><svg fill="currentColor" class='icon mr2'><use xlink:href="#github" /></a>
          </span>
        </p>
      </div>
    </div>
  </div>


  <!-- Companies -->
  <div class="bg-grit pv6">
    <div class="w-60 center pv2">
      <p class="ttu tracked fw5 f6 tc pv2">More than just pixels</p>
      <h2 class="noe f2 lh-deck tc fw6 pv5">As Sequoia Capital's design ambassadors, we collaborate with portfolio companies at every step of the product development process</h2>
    </div>
    <div class="grid flex flex-wrap grid--25 grid--50 pt4 ph6 tc center">
      <div class="grid__col w-50 w-25-l pa3-m pa2">
        <div class=" b--black-10 pa3 pv4 opacity-80">
          <img src="/assets/airbnb.svg" class="portco-logo-extra">
        </div>
      </div>
      <div class="grid__col w-50 w-25-l pa3-m pa2">
        <div class=" b--black-10 ph2 pv4 opacity-80">
          <img src="/assets/doordash.svg" class="portco-logo">
        </div>
      </div>
      <div class="grid__col w-50 w-25-l pa3-m pa2">
        <div class=" b--black-10 pa3 pv4 opacity-80">
          <img src="/assets/Github.svg" class="portco-logo">
        </div>
      </div>
      <div class="grid__col w-50 w-25-l pa3-m pa2">
        <div class=" b--black-10 pa3 pv4 opacity-80">
          <img src="/assets/percolate.svg" class="portco-logo">
        </div>
      </div>
      <div class="grid__col w-50 w-25-l pa3-m pa2">
        <div class=" b--black-10 pa3 pv4 opacity-80">
          <img src="/assets/plangrid.svg" class="portco-logo">
        </div>
      </div>
      <div class="grid__col w-50 w-25-l pa3-m pa2">
        <div class=" b--black-10 pa3 pv4 opacity-80">
          <img src="/assets/tunein.svg" class="portco-logo">
        </div>
      </div>
      <div class="grid__col w-50 w-25-l pa3-m pa2">
        <div class=" b--black-10 pa3 pv4 opacity-80">
          <img src="/assets/unity.svg" class="portco-logo-extra">
        </div>
      </div>
      <div class="grid__col w-50 w-25-l pa3-m pa2">
        <div class=" b--black-10 pa3 pv4 opacity-80">
          <img src="/assets/simplisafe.png" class="portco-logo">
        </div>
      </div>

    </div>
  </div>

  <!-- Alumni -->
  <div class="w-100 pv6 ph6">
    <p class="fw5 ttu tracked f6 black-30 pt4 pb3 f6 ph5">a lasting network</p>
    <h3 class="s-green noe f1 fw6 pv4 ph5">Sequoia Creative Lab Alumni</h3>
    <p class="lh-deck ph5 f3 measure-extra-wide black-70">After they've left the Sequoia Creative Lab, our designers go on to work with top technology companies</p>
    <div class="flex flex-wrap pv5 ph5 grid">
      {% assign sorted = (site.alumni | sort: 'last_name') %}
      {% for item in sorted %}
      <div class="grid__col w-50 w-third-sm w-25-m pa3-m pa2">
        <div class="bt b--black-20 mt3 pb5">
          <p class="fw5 ttu tracked f6 black-30 pt4 pb3 f6">{{item.class}}</p>
          <h4 class="akkurat lh-title f3 pt3 pb3 akkurat">{{item.title}}</h4>
          <p class="f7 black-70 lh-copy">{{item.position}}</p>
          <p class="f7 black-70 lh-title pb4">{{item.company}}</p>
          <p class="f5">
            <span class="s-green">
            <a href="{{fellow.twitter}}"><svg fill="currentColor" class='icon mr2'><use xlink:href="#twitter" /></a>
            <a href="{{fellow.twitter}}"><svg fill="currentColor" class='icon mr2'><use xlink:href="#linkedin" /></a>
            <a href="{{fellow.twitter}}"><svg fill="currentColor" class='icon mr2'><use xlink:href="#github" /></a>
            </span>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- Join us -->
  <div class="bg-grit-green pv6">
    <div class="w-60 center pv2 white tc">
      <img src="assets/join.png" style="width: 200px" class="center pb3">
      <p class="pv4 lh-copy measure-extra-wide center">We support each Fellow with an alumnae network of past Fellows and Visiting Designers, as well as access to the larger Sequoia community of designers who work at the companies with whom Sequoia has the honor to partner. Applications run year-round, with openings every few months.</p>
      <p class="s-green bg-white ph4 pv3 mv4 db center ttu tracked f5 dib br2 fw5">Apply here</p>
      <img src="assets/logo-white.svg" class="db logo-small pv4 center">
    </div>
  </div>


</body>
