.logo {
  width: 50px;
}

.logo-small {
  width: 30px;
}

.portco-logo-xs {

  max-height: 18px;
  max-width: 140px;

  @media (min-width: $screen-md) {
    max-height: 22px;
    max-width: 185px;
  }
}

.portco-logo-sm {

  max-height: 20px;
  max-width: 140px;

  @media (min-width: $screen-md) {
    max-height: 26px;
    max-width: 185px;
  }
}

.portco-logo-md {
  max-height: 25px;
  max-width: 150px;

  @media (min-width: $screen-md) {
    max-height: 31px;
    max-width: 185px;
  }

}

.portco-logo-lg {
  max-height: 30px;

  @media (min-width: $screen-md) {
    max-height: 38px;
  }
}
